/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin-bottom: 5%;
}

.active-users {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px; /* extra ruimte onderaan */
}

.active-users h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px; /* extra ruimte tussen lijstitems */
}

#current-user {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: auto;
    text-align: center;
}

#next-user-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto; /* extra ruimte boven en onder de knop */
}

#next-user-btn:hover {
    background-color: #0056b3;
}
